body {
  
    font-family: sans-serif;
    font-size: large;
   


    width: 1024px;
    margin:auto;
  
   

    background-color:rgb(193, 208, 221) 
}


 .div1 {

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
   

}

.Välkommen {

    position:relative;
    border: 5px solid #73AD21;
    width: 40%;
    right: 40px;
   

}


.Päron{

    position:relative;
    border: 5px solid #73AD21;
    width: 10%;
   left: 300px;
   bottom: 150px;

}
.Bananer{

    position:relative;
    border: 5px solid #73AD21;
    width: 10%;
   left: 500px;
   bottom: 179px;

}

.Äpplen{

    position:relative;
    border: 5px solid #73AD21;
    width: 10%;
   left: 700px;
   bottom: 209px;

}

.Login{

    position:relative;
    border: 5px solid #73AD21;
    width: 10%;
   left: 1700px;
   bottom: 250px;

}

.Frukt{

    position:relative;
    border: 5px solid #73AD21;
    width: 100%;
   left: 500px;
   bottom: 179px;

}
.Fruktsida{

    position:relative;
    border: 5px solid #73AD21;
    width: 100%;
   left: 500px;
   bottom: 179px;

}

.article1 {
    position:relative;
    top: 400px;
    border: 5px solid #73AD21;
    width: 20%;

    
    left: 500px;

}
.article2 {
    position:relative;
    top: 200px;
    border: 5px solid #73AD21;
    width: 20%;

    
    left: 900px;

}



.Geografi {
    position:relative;
    bottom: 300px;
    top: 500px;
    border: 5px solid #73AD21;
    width: 50%;
    height: auto;
   
    
    left: 1600px;

}

.Footer {

    position:relative;
    border: 5px solid #73AD21;
    width: 10%;
    top: 500px;
   

}

div.Upper {
    text-transform: uppercase;

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
    right: 440px;
   
  }

  div.Thai {
  

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
    right: 250px;
    bottom:200px;
   
  }
  div.Kambodja{
  

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
    right: 0px;
    bottom:230px;
   
  }
  div.Vietnam{
  

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
    bottom: 260px;
    left: 250px;
   
  }
  div.Index{
  

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
    bottom: 307px;
    left: 1250px;
   
  }
  div.footer{
  

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
    top: 500px;
   left: 400px;
   
  }

  div.form {

    position:relative;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 200px;
    left: 350px;
  }

  div.logg {
    position:relative;
   
    border: 2px solid #73AD21;
    padding: 20px;
    width: 20%;
    height: 20%;
    left: 200px;

  }

  div.Login {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 38%;
  }
  
  div.Åter {

    background-color: white;
    color: black;
    border: 2px solid #b22a2a;
    width: 35%;

  }