
* {
    margin: 0px;
    padding:0px;
}


body {
  
    font-family: sans-serif;
    width: 1024px;
    margin:auto;
    display:flex;

}
  
  
.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;

}


.article1 {
  position: relative;
  
  top: 100%;
}
.article2 {
  position: relative;
  text-align: center;
  top: 85%;
}

.center {
  position: relative;
  text-align: center;
  top: 70%;
  right: 20%
}

.fruktinfo {
  position: relative;

     font-size: 20px;
 top: 60%;
 left: 20%
 
}

.välkommen {

  position: relative;
  top: 100px;
right: 420px;
  font-size: 18px;

}

.right {
  position: absolute;
  bottom: 10%;
  right: 16px;
  font-size: 18px;
  line-height: 300%;
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}


.login {


    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;

}

.firstlist {

  position: relative;
  bottom: 40px;
  left: 350px;
}



ul.nav {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3D99CE;
  text-align: center;
  
}
ul.nav > li {
  display: inline-block;
  padding: 10px 5px;
}
ul.nav > li:hover {
  background-color: #2779BF;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
}




/* Login page */ 


   



div.Upper {
    text-transform: uppercase;

    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 12px;
  
   
  }

  .form {
    position: relative;
    text-align: center;
    top: 400px;
    left: 100px;
    line-height: 1.8;
     letter-spacing: 1px;
     border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  height: auto;

  }

  .logg {
    position: relative;
    text-align: center;
    top: 350px;
    left: 100px;
  }


 
  

  .button-37 {
    background-color: #13aa52;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  .button-38 {
    background-color: #c21717;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-38:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  
 
  

  .firstlist2 {

    position: relative;
    
    left: 410px;
  }
  
  
  
  ul.nav2 {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3D99CE;
    text-align: center;
    
  }
  ul.nav2 > li {
    display: inline-block;
    padding: 10px 5px;
  }
  ul.nav2 > li:hover {
    background-color: #2779BF;
  }
  ul.nav2 > li > a {
    color: white;
    text-decoration: none;
  }
  

 
  div.footer{
  

    position:relative;
    border: 5px solid #73AD21;
    width: 20%;
    top: 500px;
   left: 400px;
   
  }
